@page
@model IndexModel
@{
    ViewData["Title"] = "IBAN validation";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
	<div class="col-md-8">
		<p>This example web application shows the validation using DataAnnotations in action for Razor Pages, MVC and Web API.</p>
		
		<ul>
			<li><a asp-page="/RazorPage">Annotations with Razor Pages.</a></li>
			<li><a href="./Mvc">Annotations with MVC.</a></li>
			<li><a asp-page="/WebApi">Annotations with Web API.</a></li>
		</ul>
	</div>
</div>
