* text=auto

*.md	text eol=lf
*.js	text eol=lf
*.json	text eol=lf
*.yml	text eol=lf
*.yaml	text eol=lf
*.xml	text eol=lf

*.cs			text eol=crlf diff=csharp
*.tt			text eol=crlf
*.csproj		text eol=crlf
*.props			text eol=crlf
*.targets		text eol=crlf
.editorconfig	text eol=crlf

*.png	binary
*.gif	binary
*.jpg	binary
*.jpeg	binary

*.received.*	text eol=lf
*.verified.*	text eol=lf
